
.navbar-toggler{
    border: none;
}
.navbar-brand{
    font-size: 35px;
    color:  rgb(123, 121, 119);
}
.navbar-brand:hover{
    color:  rgb(123, 121, 119);
}
.navbar{
    height: 100px;
    transition: 100s;
    background:rgb(191, 191, 194);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    
    
}


.nav-link{
    color:  rgb(123, 121, 119);
    font-weight: 600;
    font-size: 25px;
    position: relative;
}
.nav-link:hover, .nav-link.active{ 
    color: rgb(32, 32, 32);
}

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: red;
    transition: 0.3s ease-in-out;
    visibility: hidden;

}
.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;

}

.graf{
    
    height: 555px;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    

}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item{
    display: flex;
}

.k{
    padding: 30px;
}
.kapusta{
    height: 70px;
    width: 100px;
    text-align: center;
    
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 50px; /* Скругляем уголки */
}
.kapusta2{
    height: 2px;
    width: 2px;
    text-align: center;
    
    background: #3570a4; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 10px; /* Скругляем уголки */
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height:92px;
    display: flex;
    
   
    background:rgb(191, 191, 194);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}


.tg-cont{
    padding-top: 5px;
    padding-left: 30px;
}
.tg{
    text-decoration: none;
    color: rgb(136, 131, 235);
}

.reverse{
    visibility:hidden;
}
body{
    background-color: rgb(229, 229, 229);
}

@media (max-width:450px){

        .reverse{
            visibility: visible;
        }
}